<footer>
	<div>
		<h3>Know more about us</h3>
		<ol>
			<li><a href="{{site.url}}">Code for Boulder</a></li>
			<li><a href="{{site.url}}/#join-us">Join us</a></li>
			<li><a href="{{site.url}}/#projects">Projects</a></li>
			<li><a href="{{site.url}}/#contact-us">Contact us</a></li>
		</ol>
	</div>
	
	<div>
		<h3>Find us</h3>
		<ol class="fixed-size">
			<li><a href="https://www.meetup.com/CodeForBoulder/"><img class="meetup" alt="Meetup" src="https://secure.meetup.com/s/img/0/logo/svg/logo--script.svg"></li>
			<li><a href="https://codeforboulder.herokuapp.com/"><img class="slack" alt="Slack" src="{{ site.url }}/assets/img/Slack_RGB.svg"></a></li>
			<li><a href="https://github.com/CodeForBoulder"><img class="github" alt="Github" src="{{ site.url }}/assets/img/github-logo.png"></a></li>
		</ol>
	</div>

	<div>
		<h3>Contact us</h3>
		<a href="mailto:hi@codeforboulder.org?Subject=Hello">hi[at]codeforboulder.org</a>
	</div>
</footer>